*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    position: relative;
    background-image: url(/blob-scene-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 16;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffffff;
    top: 60%;
    left: 1%;
    animation-duration: 40s;
    animation-delay: -37s;
    transform-origin: 10vw 17vh;
    box-shadow: 6vmin 0 1.2788144386336266vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffff;
    top: 4%;
    left: 19%;
    animation-duration: 179s;
    animation-delay: -228s;
    transform-origin: -20vw -14vh;
    box-shadow: -6vmin 0 1.3395041886090606vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 7%;
    left: 89%;
    animation-duration: 338s;
    animation-delay: -50s;
    transform-origin: -1vw -17vh;
    box-shadow: 6vmin 0 0.8476849441800551vmin currentColor;
}
.background span:nth-child(3) {
    color: #400080;
    top: 6%;
    left: 6%;
    animation-duration: 162s;
    animation-delay: -72s;
    transform-origin: -12vw -14vh;
    box-shadow: -6vmin 0 1.6974865670686519vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 2%;
    left: 98%;
    animation-duration: 202s;
    animation-delay: -253s;
    transform-origin: 23vw -7vh;
    box-shadow: -6vmin 0 1.1745333344680922vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 14%;
    left: 49%;
    animation-duration: 48s;
    animation-delay: -80s;
    transform-origin: 14vw -3vh;
    box-shadow: 6vmin 0 0.8751804648293251vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff8000;
    top: 56%;
    left: 53%;
    animation-duration: 298s;
    animation-delay: -273s;
    transform-origin: -16vw 14vh;
    box-shadow: -6vmin 0 1.3626924217455505vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffffff;
    top: 80%;
    left: 93%;
    animation-duration: 210s;
    animation-delay: -19s;
    transform-origin: -14vw -11vh;
    box-shadow: 6vmin 0 1.1264777606881027vmin currentColor;
}
.about{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 450px;
    left: 1100px;
}
.container-speed{
    position: absolute;
    top: 180px;
    left:30%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 500px;
    height: auto;
}

.container-speed h1{
    font-size: 3rem;
    color: white;
}

.input{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: 3px solid #ff8000;
    cursor: pointer;
    color: rgb(173, 173, 173);
    
}
.input::selection{
    color: none;
    background-color: none;

}

.container-speed p{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.btn-reset{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #ff8000;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
}